<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast and Furious</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

</head>

<body>

<div class="fading">
    <img class="logo"  src="../static/logo.jpg">
    <h1>Fast and Furious</h1>
                <form  method="POST" action="/main">
                    <button  class="btn btn-info" >DRIVE NOW</button><br><br>
            </form>
</div>

<section class="context">

  <div class="crawl">
    
      <p>Welcome to a Fast and Furious, Driver. We are going to see how the lights turn on when you enter the tunnel. Please tighten your seatbelt and get started.</p>      
      <p>During the car race you took a shortcut and saw a dark tunnel, just when you entered the lights turned on taking you by surprise, to see it click on the DRIVE NOW button </p>

  </div>

</section>

   
</body>
</html>